*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav > ul > li {
    display: inline;
    margin: 0 80px 0 80px;
}

nav{
    padding: 20px;
    text-align: center;
    background-color: darkgray;
}

nav > ul > li > a {
    text-decoration: none;
    color: black;
}

aside{
    width: 200px;
    border-right: 2px solid black;
    margin-right: 10px;
}

aside ul li{
    margin-bottom: 30px;
    padding: 20px;
    list-style: none;
}

main{
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
}

section{
    width: 100%;
    background-image: url(../img/image3.png);  
    color: rgb(255, 255, 255);
    background-color: rgb(90, 79, 79);
    background-blend-mode: multiply;
}
section h2{
    text-align: center;
    margin-top: 20px;
}

section p{
    margin-top: 30px;
    text-align: center;
    padding: 10px;
}

aside ul li a{
    text-decoration: none;
    color: black;
    
}